@{
    ViewBag.Title = "AskforList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>請假細項(總表)</h2>

<style>
    .table {
        background-color: white;
        padding: 5px;
        box-shadow: 0 1px 7px;
    }

    th {
        background-color: #444444;
        color: white;
        font-size: 1.2em;
    }

    th, td {
        text-align: center;
        padding: 5px;
    }

    h2 {
        text-align: center;
        font-weight: bold;
        margin-top: 25px;
    }
    /*偶數*/
    /*tr:nth-child(even) {
        background-color: aliceblue;
    }*/
    /*奇數*/
    /*tr:nth-child(odd) {
        background-color: azure;
    }*/


    /*詳細按鈕css*/
    .button {
        border-radius: 4px;
        border: none;
        color: white;
        text-align: center;
        font-size: 14px;
        padding: 10px;
        width: 100px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 3px;
    }

        .button span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }

            .button span:after {
                content: '\00bb';
                position: absolute;
                opacity: 0;
                top: 0;
                right: -20px;
                transition: 0.5s;
            }

        .button:hover span {
            padding-right: 25px;
        }

            .button:hover span:after {
                opacity: 1;
                right: 0;
            }
</style>
<a class="btn btn-info" href="/DDDDD/Askfor">新增假單</a>
    <table class="table-hover w-100 table table-striped text-nowrap">
        <thead id="head">
        </thead>
        <tbody id="AskForListTbody">
        </tbody>
    </table>

<!-- Modal -->
<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
           
            <div class="modal-body"> @*Start*@
                <div class="head">
                    <h2 class="mb-5">請假(修改)</h2>
                    <form>
                        <div>
                            <label>申請表編號:</label>
                            <label></label>
                            <input type="text" id="申請表編號" disabled />
                        </div>
                        <div>
                            <label>員工編號:</label>
                            <label></label>
                            <input type="text" id="EmployeeID" disabled />
                        </div>
                        <div>
                            <label>員工姓名:</label>
                            <label></label>
                            <input type="text" id="中文姓名" disabled />
                        </div>
                        <div>
                            <label>職稱:</label>
                            <label></label>
                            <input type="text" id="jobtitle" disabled />
                        </div>
                        <div>
                            <label>信箱:</label>
                            <label></label>
                            <input type="text" id="Email" disabled />
                        </div>
                        <div>
                            <label>部門:</label>
                            <label></label>
                            <input type="text" id="department" disabled />
                        </div>
                        <div>
                            <label>請假班別:</label>
                            <label></label>
                            <input type="text" id="請假班別" />
                        </div>
                        <div>
                            <label>請假類別:</label>
                            <select id="select1">
                                <option value="0">請選擇</option>
                                <option value="1">事假</option>
                                <option value="2">病假</option>
                                <option value="3">生理假</option>
                                <option value="4">喪假</option>
                                <option value="5">婚假</option>
                                <option value="6">公假</option>
                                <option value="7">產假</option>
                                <option value="8">陪產假</option>
                                <option value="9">防疫隔離假</option>
                                <option value="10">特休</option>
                                <option value="11">加班補修</option>
                            </select>
                        </div>
                        <div>
                            <label>開始日期</label>
                            <input type="datetime-local" id="startday">
                        </div>
                        <div>
                            <label>結束日期</label>
                            <input type="datetime-local" id="endday">
                        </div>
                        <div>
                            <label>申請日期</label>
                            <input type="datetime-local" id="applicationday">
                        </div>
                        <div>
                            <label>請假時數</label>
                            <input type="text" id="askfortime">
                        </div>
                        <div>
                            <label>代理人</label>
                            <input type="text" id="agent">
                        </div>
                        <div>
                            <label>審核狀態</label>
                            <label></label>
                            <input type="text" id="approvalStatus" disabled />
                        </div>
                    </form>
                </div>
            </div> @*End*@
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="Update()">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section script{
    <script>



        //======================================= 總表顯示 =======================================
        $(function () {
            getAskForList();
        })

        function getAskForList() {
            $.ajax({
                url: "/DDDDD/AskforListAjax",
                type: "GET",
                success: function (memberlist) {
                    $("#head").append(
                        `<tr>                   
                                                <th>員工編號</th>
                                                <th>中文姓名</th>
                                                <th>職稱</th>
                                                <th>部門</th>
                                                <th>請假班別</th>
                                                <th>假別</th>
                                                <th>申請日期</th>
                                                <th>請假時數</th>
                                                <th>代理人</th>
                                                <th>審核狀態</th>
                                                <th>詳細</th>
                                                <th>刪除</th>
                                                </tr>`
                    );

                    $(memberlist).each(function (index, item) {
                        var testtime = parseInt(item.開始日期.replace(/\D/igm, ""));
                        var testtime1 = new Date(testtime);
                        var 結束日期 = parseInt(item.結束日期.replace(/\D/igm, ""));
                        var testtime2 = new Date(結束日期);
                        var 申請日期 = parseInt(item.申請日期.replace(/\D/igm, ""));
                        var testtime3 = new Date(申請日期);

                        if (testtime3.getHours() < 10) {
                            h3 = "0" + testtime3.getHours();
                        } else {
                            h3 = testtime3.getHours();
                        }
                        if (testtime3.getMinutes() < 10) {
                            var a3 = "0" + testtime3.getMinutes()
                        } else {
                            a3 = testtime3.getMinutes();
                        }
                        $("#AskForListTbody").append(
                            `<tr>
                                                <td>${item.EmployeeID}</td>
                                                <td>${item.中文姓名}</td>
                                                <td>${item.職稱}</td>
                                                <td>${item.部門}</td>
                                                <td>${item.請假班別}</td>
                                                <td>${item.假別1}</td>
                                                <td>${testtime3.getFullYear() + "/" + (testtime3.getMonth() + 1) + "/" + testtime3.getDate() + " " + h3 + ":" + a3 }</td>
                                                <td>${item.請假時數}</td>
                                                <td>${item.代理人}</td>
                                                <td>${item.審核狀態}</td>
                                                <td><a class="btn btn-primary button btnDetail" data-toggle="modal" data-id ="${item.EmployeeID}" data-target="#exampleModalScrollable" onclick="UpdateGetData()"><span>詳細</span></a></td>
                                                <td><a class="btn btn-danger button"  onclick="Fdelete()" data-id="${item.EmployeeID}"><span>刪除</span></a></td></tr>` 
                        );
                    })
                },
            });
        };


       

        //======================================= 修改 =======================================
        function Update() {
            if (true) {
                $.ajax({
                    url: "/DDDDD/UpdateDataAjax",
                    type: "POST",
                    data: {
                        "申請表編號": $("#申請表編號").val(),
                        "EmployeeID": $("#EmployeeID").val(),
                        "中文姓名": $("#中文姓名").val(),
                        "職稱": $("#jobtitle").val(),
                        "信箱": $("#Email").val(),
                        "部門": $("#department").val(),
                        "請假班別": $("#請假班別").val(),
                        "假別ID": $("#select1").val(),
                        "開始日期": $("#startday").val(),
                        "結束日期": $("#endday").val(),
                        "申請日期": $("#applicationday").val(),
                        "請假時數": $("#askfortime").val(),
                        "代理人": $("#agent").val(),
                        "審核狀態": $("#approvalStatus").val()
                    },
                    success: function (result) {
                        if (result != 0) {
                            $("#exampleModalScrollable").modal('hide');
                            swal("成功", "修改成功", "success"); 
                            ReFresh();
                        }
                 
                    }
                })
            }
        }

        function UpdateGetData() {
            //console.log($(event.currentTarget).data("id"));
            $.ajax({
                url: "/DDDDD/GetUpdateData",
                type: "GET",
                data: { "id": $(event.currentTarget).data("id") },
                success: function (getdata) {
                    var testtime = parseInt(getdata.開始日期.replace(/\D/igm, ""));
                    var testtime1 = new Date(testtime);
                    var 結束日期 = parseInt(getdata.結束日期.replace(/\D/igm, ""));
                    var testtime2 = new Date(結束日期);
                    var 申請日期 = parseInt(getdata.申請日期.replace(/\D/igm, ""));
                    var testtime3 = new Date(申請日期);
                    console.log(testtime1);
                    if ((testtime1.getMonth() + 1) < 10) //月
                    {
                        var a = "0" + (testtime1.getMonth() + 1);  //why var
                    }
                    else {
                        a = (testtime1.getMonth() + 1);
                    }
                    if ((testtime2.getMonth() + 1) < 10) {
                        var gg2 = "0" + (testtime2.getMonth() + 1);
                    }
                    else {
                        gg2 = (testtime2.getMonth() + 1);
                    }
                    if ((testtime3.getMonth() + 1) < 10) {
                        var kk3 = "0" + (testtime3.getMonth() + 1);
                    }
                    else {
                        kk3 = (testtime3.getMonth() + 1);
                    }
                    if (testtime1.getDate() < 10) //日
                    {
                        var rr1 = "0" + (testtime1.getDate());
                    }
                    else {
                        rr1 = testtime1.getDate();
                    }
                    if (testtime2.getDate() < 10) {
                        var aa2 = "0" + (testtime2.getDate());
                    }
                    else {
                        aa2 = testtime2.getDate();
                    }
                    if (testtime3.getDate() < 10) {
                        var bb3 = "0" + (testtime3.getDate());
                    }
                    else {
                        bb3 = testtime3.getDate();
                    }
                    if (testtime1.getHours() < 10) //時
                    {
                        var cc1 = "0" + testtime1.getHours();
                    }
                    else {
                        cc1 = testtime1.getHours();
                    }
                    if (testtime2.getHours() < 10) {
                        var dd2 = "0" + testtime2.getHours();
                    }
                    else {
                        dd2 = testtime2.getHours();
                    }
                    if (testtime3.getHours() < 10) {
                        var ee3 = "0" + (testtime3.getHours());
                    }
                    else {
                        ee3 = testtime3.getHours();
                    }
                    if (testtime1.getMinutes() < 10)  //分
                    {
                        var ff1 = "0" + testtime1.getMinutes();
                    }
                    else {
                        ff1 = testtime1.getMinutes();
                    }
                    if (testtime1.getMinutes() < 10) {
                        var mm2 = "0" + testtime1.getMinutes();
                    }
                    else {
                        mm2 = testtime1.getMinutes();
                    }
                    if (testtime1.getMinutes() < 10) {
                        var ll3 = "0" + testtime1.getMinutes();
                    }
                    else {
                        ll3 = testtime1.getMinutes();
                    }
                    $("#申請表編號").val(getdata.申請表編號);
                    $("#EmployeeID").val(getdata.EmployeeID);
                    $("#中文姓名").val(getdata.中文姓名);
                    $("#jobtitle").val(getdata.職稱);
                    $("#Email").val(getdata.信箱);
                    $("#department").val(getdata.部門);
                    $("#請假班別").val(getdata.請假班別);
                    $("#select1").val(getdata.假別ID);
                    $("#startday").val(testtime1.getFullYear() + "-" + a + "-" + rr1
                        + "T" + cc1 + ":" + ff1 + ":00");
                    $("#endday").val(testtime2.getFullYear() + "-" + gg2 + "-" + aa2
                        + "T" + dd2 + ":" + mm2 + ":00");
                    $("#applicationday").val(testtime3.getFullYear() + "-" + kk3 + "-" + bb3
                        + "T" + ee3 + ":" + ll3 + ":00");
                    $("#askfortime").val(getdata.請假時數);
                    $("#agent").val(getdata.代理人);
                    $("#approvalStatus").val(getdata.審核狀態);
                    console.log(testtime1);
                }
            })
        }
        //======================================= 刪除 =======================================
        function Fdelete() {
            if (true) {
                $.ajax({
                    url: "/DDDDD/DeleteData",
                    data: { "id": $(event.currentTarget).data("id") },
                    success: function (result) {
                        swal({
                            title: "刪除?",
                            text: "確定要刪除嗎?",
                            icon: 'warning',
                            buttons: true,
                            dangerMode: true,
                        }).then((confirm) => {
                            if (confirm) {
                                swal('刪除', '刪除成功！...', 'success');
                                ReFresh();
                            } else {
                                swal('刪除', '刪除失敗!...', 'error');
                            }
                        })
                        
                    }
                })
            }
        }

        //======================================= 刷新 =======================================
        function ReFresh() {
            $.ajax({
                url: "/DDDDD/AskForListAjax",
                type: "GET",
                success: function (memberlist) {
                    $("#head").html(
                        `<tr>
                                                <th>申請表編號</th>
                                                <th>員工編號</th>
                                                <th>中文姓名</th>
                                                <th>職稱</th>
                                                <th>部門</th>
                                                <th>請假班別</th>
                                                <th>假別</th>
                                                <th>申請日期</th>
                                                <th>請假時數</th>
                                                <th>代理人</th>
                                                <th>審核狀態</th>
                                                <th>詳細</th>
                                                <th>刪除</th>
                                                </tr>`
                    );
                    var a = " ";
                    $(memberlist).each(function (index, item) {
                        var testtime = parseInt(item.開始日期.replace(/\D/igm, ""));
                        var testtime1 = new Date(testtime);
                        var 結束日期 = parseInt(item.結束日期.replace(/\D/igm, ""));
                        var testtime2 = new Date(結束日期);
                        var 申請日期 = parseInt(item.申請日期.replace(/\D/igm, ""));
                        var testtime3 = new Date(申請日期);

                        if (testtime3.getHours() < 10) {
                            h3 = "0" + testtime3.getHours();
                        } else {
                            h3 = testtime3.getHours();
                        }
                        if (testtime3.getMinutes() < 10) {
                            var a3 = "0" + testtime3.getMinutes()
                        } else {
                            a3 = testtime3.getMinutes();
                        }
                        
                                                                        
                        a += `<tr>
                                                <td>${item.申請表編號}</td>
                                                <td>${item.EmployeeID}</td>
                                                <td>${item.中文姓名}</td>
                                                <td>${item.職稱}</td>
                                                <td>${item.部門}</td>
                                                <td>${item.請假班別}</td>
                                                <td>${item.假別1}</td>
                                                <td>${testtime3.getFullYear() + "/" + (testtime3.getMonth() + 1) + "/" + testtime3.getDate() + " " + h3 + ":" + a3}</td>
                                                <td>${item.請假時數}</td>
                                                <td>${item.代理人}</td>
                                                <td>${item.審核狀態}</td>
                                                <td><a class="btn btn-dark button btnDetail" data-toggle="modal" data-id ="${item.EmployeeID}" data-target="#exampleModalScrollable" onclick="UpdateGetData()"><span>詳細</span></a></td>
                                                <td><a class="btn btn-danger button"  onclick="Fdelete()" data-id="${item.EmployeeID}"><span>刪除</span></a></td></tr>`
                        $("#AskForListTbody").html(a);
                    })
                },
            });
        };
    </script>
}


