@{
    ViewBag.Title = "BulletinBoardList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    .佈告欄總表外框 {
        background-color: white;
        height: 1000px;
        width: 1180px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
        padding-top: 0;
        box-shadow: 3px 3px 9px black;
    }

    .佈告欄列表 {
        width: 1120px;
        box-shadow: 3px 3px 9px black;
    }

        .佈告欄列表 th {
            padding: 10px 10px;
            text-align: center;
            background-color: aqua;
        }

        .佈告欄列表 td {
            padding: 10px 10px;
            text-align: center;
        }

    .文字 {
        font-size: 22px;
        font-weight: 900;
        text-align: center;
    }

    .文字2 {
        font-size: 22px;
        font-weight: 900;
    }

    .新增按鈕 {
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: -30px;
        width: 120px;
        font-size: 20px;
        font-weight: 900;
        display: inline-block;
        box-shadow: 3px 3px 9px black;
    }

    .詳細按鈕 {
        font-size: 20px;
        font-weight: 900;
    }

    .addTitle {
        max-width: 460PX;
        width: 460px;
        height: 30px;
    }

    .addContent {
        max-width: 460PX;
        width: 460px;
        height: 150px;
        resize: none;
    }

    .txt樣式 {
        max-width: 460PX;
        width: 460px;
        height: 30px;
    }

    .外框 {
        overflow-x: scroll;
    }

    .updateContent {
        resize: none;
        width: 460px;
        height: 200px;
        max-width: 460px;
    }

    .新增視窗頭 {
        background-color: deepskyblue;
    }

    .編輯視窗頭 {
        background-color: gold;
    }

    .搜尋 {
        width: 400px;
        margin-top: 30px;
    }

    .搜尋框 {
        height: 50px;
        max-width: 1000px;
        width: 400px;
        font-size: 18px;
        font-weight: 900;
    }

    .搜尋按鈕 {
        height: 50px;
        width: 100px;
        font-size: 18px;
        font-weight: 900;
    }

    .打卡日曆 {
        width: 800px;
        height: 900px;
    }

    .搜尋彈跳視窗Table {
        text-align: center;
    }

    .跳轉頁面框 {
        margin-left: 200px;
    }

    .指定查詢視窗頭 {
        background-color: #00CACA;
    }
</style>

@*------------------------------資料夾Model起始------------------------------*@
<nav class="mt-5 文字">
    <div class="nav nav-tabs font-weight-bolder" id="nav-tab">
        <a class="nav-item nav-link active text-dark" id="nav-home-tab" data-toggle="tab" href="#nav-1">佈告欄</a>
        <a class="nav-item nav-link text-dark" id="nav-profile-tab" data-toggle="tab" href="#nav-2">行事曆</a>
        <a class="nav-item nav-link text-dark" id="nav-profile-tab" data-toggle="tab" href="#nav3">打卡系統</a>
    </div>
</nav>
@*------------------------------資料夾Model結束------------------------------*@
@*佈告欄總表*@
<div class="佈告欄總表外框">
    <div class="tab-content" id="nav-tabContent">
        <div id="nav-1" class="tab-pane fade show active">
            <div class="col-12 d-flex justify-content-between">
                <div class="col-6">
                    <a class="btn btn-primary empedit 新增按鈕" data-id="" data-toggle="modal" data-target="#CreateBulletinBoardList">新增</a>
                </div>
                <div class="col-6 pr-0 pl-5">
                    @*------------------------------搜尋框起始------------------------------*@
                    <div class="ml-5 d-flex justify-content-center align-items-center 搜尋">
                        <div>
                            <input type="search" name="searchbox" class="searchbox rounded-pill border-info pl-3 搜尋框" placeholder="搜尋發佈人或發佈時間或標題..." />
                        </div>
                        <div class="ml-3">
                            <button class="btn btn-primary rounded-pill searchbtn 搜尋按鈕"><i class="fa fa-search mr-2"></i>搜尋</button>
                        </div>
                    </div>
                    @*------------------------------搜尋彈跳視窗起始------------------------------*@
                    <div class="modal fade bd-example-modal-xl" id="searchinfo" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title FormTextShadow">佈告欄搜尋結果</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <table class="w-100 搜尋彈跳視窗Table">
                                        <thead class="w-100 h-100">
                                            <tr>
                                                <th>佈告欄編號</th>
                                                <th>發佈人</th>
                                                <th>標題</th>
                                                <th>內容</th>
                                                <th>發佈日期</th>
                                                <th>詳細</th>
                                                <th>編輯</th>
                                                <th>刪除</th>
                                            </tr>
                                        </thead>
                                        <tbody class="SearchShowTable w-100 h-100">
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*------------------------------搜尋彈跳視窗結束------------------------------*@

                    @*------------------------------搜尋框結束------------------------------*@
                </div>
            </div>
            @*------------------------------佈告欄起始------------------------------*@
            <div class="外框">
                <table class="table table-bordered table-hover text-nowrap 佈告欄列表">
                    <thead class="THeadAdd 文字">
                    </thead>
                    <tbody class="TBodyAdd 文字">
                    </tbody>
                </table>
            </div>
            @*------------------------------佈告欄結束------------------------------*@
            @*------------------------------分頁按鈕起始------------------------------*@
            <nav aria-label="Page navigation example" class="col-12 d-flex">
                <div class="col-4 pt-5">
                    <p class="currentpage"></p>
                </div>
                <div class="col-4 分頁按鈕外框 mt-5 ml-3">
                    <ul class="pagination  arrowborn">
                    </ul>
                </div>
                <div class="col-4 mt-5 跳轉頁面框">
                    <label>跳轉頁面至：<input type="text" class="pagesearch" maxlength="3" placeholder="1" /></label>
                </div>
            </nav>
            @*------------------------------分頁按鈕結束------------------------------*@
        </div>
        <div id="nav-2" class="tab-pane fade active ">
            @*------------------------------Fullcalender起始------------------------------*@
            <div id='calender' class="pt-5"></div>
            @*------------------------------Fullcalender結束------------------------------*@

            @*FullCalender修改彈跳視窗起始*@
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title"><span id="eventTitle"></span></h4>
                        </div>
                        <div class="modal-body">
                            <button id="btnDelete" class="btn btn-default btn-sm pull-right">
                                <span class="glyphicon glyphicon-remove"></span> 刪除
                            </button>
                            <button id="btnEdit" class="btn btn-default btn-sm pull-right" style="margin-right:5px;">
                                <span class="glyphicon glyphicon-pencil"></span> 修改
                            </button>
                            <p id="pDetails"></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                        </div>
                    </div>
                </div>
            </div>
            @*FullCalender修改彈跳視窗結束*@

            @*FullCalender新增彈跳視窗起始*@
            <div id="myModalSave" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">新增事項</h4>
                        </div>
                        <div class="modal-body">
                            <form class="col-md-12 form-horizontal">
                                <input type="hidden" id="hdEventID" value="0" />
                                <div class="form-group">
                                    <label>事項名稱</label>
                                    <input type="text" id="txtSubject" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label>開始時間</label>
                                    <div class="input-group date" id="dtp1">
                                        <input type="text" id="txtStart" class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label><input type="checkbox" id="chkIsFullDay" checked="checked" />全日</label>
                                    </div>
                                </div>
                                <div class="form-group" id="divEndDate" style="display:none">
                                    <label>結束時間</label>
                                    <div class="input-group date" id="dtp2">
                                        <input type="text" id="txtEnd" class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>事項描述</label>
                                    <textarea id="txtDescription" rows="3" class="form-control"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>主題顏色</label>
                                    <select id="ddThemeColor" class="form-control">
                                        <option value="">不使用</option>
                                        <option value="red">紅色</option>
                                        <option value="blue">藍色</option>
                                        <option value="black">黑色</option>
                                        <option value="green">綠色</option>
                                    </select>
                                </div>
                                <button type="button" id="btnSave" class="btn btn-success">儲存</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            @*FullCalender新增彈跳視窗結束*@
        </div>
        <div id="nav-3" class="tab-pane fade show active ">
        </div>
    </div>
</div>




@*佈告欄新增彈跳視窗*@
<div class="modal fade" id="CreateBulletinBoardList" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header 新增視窗頭">
                <h5 class="modal-title 文字2" id="exampleModalLabel">新增佈告欄</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="CreateBulletinBoard">
                    <label class="文字2">標題：</label>
                    <br>
                    <input name="Title" type="text" class="addTitle" />
                    <br>
                    <br>
                    <label class="文字2">內容：</label>
                    <br>
                    <textarea name="Content" class="addContent" rows="5" cols="200">
                    </textarea>
                    <br>
                    <br>
                    <label class="文字2">發佈日期：</label>
                    <br>
                    <input name="Date" type="datetime-local" class="addDate" />
                    <br>
                    <br>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="BulletinBoardAdd()">送出</button>
                <button type="button" class="btn btn-secondary ClearModal" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

@*佈告欄指定單筆搜尋彈跳視窗*@
<div class="modal fade" id="ShowBulletinBoard" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header 指定查詢視窗頭">
                <h5 class="modal-title 文字2" id="exampleModalLabel">佈告欄資訊</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="ShowUserProfile"></form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary ClearModal" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

@*佈告欄修改尋彈跳視窗*@
<div class="modal fade" id="EditBulletinBoard" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header 編輯視窗頭">
                <h5 class="modal-title 文字2" id="exampleModalLabel">編輯佈告欄</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="EditUserProfile"></form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary editsave" data-dismiss="modal">確認修改</button>
                <button type="button" class="btn btn-secondary ClearModal" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>


<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />
<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media="print" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
@section script{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

    <script>
        $(document).ready(function () {
            var events = [];
            var selectedEvent = null;
            FetchEventAndRenderCalendar();
            function FetchEventAndRenderCalendar() {
                events = [];
                $.ajax({
                    type: "GET",
                    url: "/BulletinBoard/GetEvents",
                    success: function (data) {
                        $.each(data, function (i, v) {
                            events.push({
                                eventID: v.EventID,
                                title: v.Subject,
                                description: v.Description,
                                start: moment(v.Start),
                                end: v.End != null ? moment(v.End) : null,
                                color: v.ThemeColor,
                                allDay: v.IsFullDay
                            });
                        })

                        GenerateCalender(events);
                    },
                    error: function (error) {
                        alert('failed');
                    }
                })
            }

            function GenerateCalender(events) {
                $('#calender').fullCalendar('destroy');
                $('#calender').fullCalendar({
                    defaultDate: new Date(),
                    timeFormat: 'h(:mm)a',
                    header: {
                        left: 'prevYear,prev,next,nextYear today',
                        center: 'title',
                        right: 'month,basicWeek,agenda'
                    },
                    contentHeight: 850,   // 容器高 
                    monthNames: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
                    dayNames: ["週日", "週一", "週二", "週三", "週四", "週五", "週六"],
                    dayNamesShort: ["週日", "週一", "週二", "週三", "週四", "週五", "週六"],
                    today: ["今天"],
                    buttonText: {
                        today: '今天',
                        month: '月',
                        week: '週',
                        agenda: '日'
                    },
                    eventLimit: true,
                    eventColor: '#378006',
                    events: events,
                    eventClick: function (calEvent, jsEvent, view) {
                        selectedEvent = calEvent;
                        $('#myModal #eventTitle').text(calEvent.title);
                        var $description = $('<div/>'); 
                        $description.append($('<p/>').html('<b>Start:</b>' + calEvent.start.format("YYYY-MM-DD HH:mm a")));
                        if (calEvent.end != null) {
                            $description.append($('<p/>').html('<b>End:</b>' + calEvent.end.format("YYYY-MM-DD HH:mm a")));
                        }
                        $description.append($('<p/>').html('<b>Description:</b>' + calEvent.description));
                        $('#myModal #pDetails').empty().html($description);

                        $('#myModal').modal();
                    },
                    selectable: true,
                    select: function (start, end) {
                        selectedEvent = {
                            eventID: 0,
                            title: '',
                            description: '',
                            start: start,
                            end: end,
                            allDay: false,
                            color: ''
                        };
                        openAddEditForm();
                        $('#calender').fullCalendar('unselect');
                    },
                    editable: true,
                    eventDrop: function (event) {
                        var data = {
                            EventID: event.eventID,
                            Subject: event.title,
                            Start: event.start.format("YYYY-MM-DD HH:mm a"),
                            End: event.end != null ? event.end.format("YYYY-MM-DD HH:mm a") : null,
                            Description: event.description,
                            ThemeColor: event.color,
                            IsFullDay: event.allDay
                        };
                        SaveEvent(data);
                    }
                })
            }

            $('#btnEdit').click(function () {
                //Open modal dialog for edit event
                openAddEditForm();
            })
            $('#btnDelete').click(function () {
                if (selectedEvent != null && confirm('Are you sure?')) {
                    $.ajax({
                        type: "POST",
                        url: '/BulletinBoard/DeleteEvent',
                        data: { 'eventID': selectedEvent.eventID },
                        success: function (data) {
                            if (data.status) {
                                //Refresh the calender
                                FetchEventAndRenderCalendar();
                                $('#myModal').modal('hide');
                            }
                        },
                        error: function () {
                            alert('Failed');
                        }
                    })
                }
            })

            $('#dtp1,#dtp2').datetimepicker({
                format: "YYYY-MM-DD HH:mm a"
            });

            $('#chkIsFullDay').change(function () {
                if ($(this).is(':checked')) {
                    $('#divEndDate').hide();
                }
                else {
                    $('#divEndDate').show();
                }
            });

            function openAddEditForm() {
                if (selectedEvent != null) {
                    $('#hdEventID').val(selectedEvent.eventID);
                    $('#txtSubject').val(selectedEvent.title);
                    $('#txtStart').val(selectedEvent.start.format("YYYY-MM-DD HH:mm a"));
                    $('#chkIsFullDay').prop("checked", selectedEvent.allDay || false);
                    $('#chkIsFullDay').change();
                    $('#txtEnd').val(selectedEvent.end != null ? selectedEvent.end.format("YYYY-MM-DD HH:mm a") : '');
                    $('#txtDescription').val(selectedEvent.description);
                    $('#ddThemeColor').val(selectedEvent.color);
                }
                $('#myModal').modal('hide');
                $('#myModalSave').modal();
            }

            $('#btnSave').click(function () {
                //Validation/
                if ($('#txtSubject').val().trim() == "") {
                    alert('Subject required');
                    return;
                }
                if ($('#txtStart').val().trim() == "") {
                    alert('Start date required');
                    return;
                }
                if ($('#chkIsFullDay').is(':checked') == false && $('#txtEnd').val().trim() == "") {
                    alert('End date required');
                    return;
                }
                else {
                    var startDate = moment($('#txtStart').val(), "YYYY-MM-DD HH:mm a").toDate();
                    var endDate = moment($('#txtEnd').val(), "YYYY-MM-DD HH:mm a").toDate();
                    if (startDate > endDate) {
                        alert('Invalid end date');
                        return;
                    }
                }

                var data = {
                    EventID: $('#hdEventID').val(),
                    Subject: $('#txtSubject').val().trim(),
                    Start: $('#txtStart').val().trim(),
                    End: $('#chkIsFullDay').is(':checked') ? null : $('#txtEnd').val().trim(),
                    Description: $('#txtDescription').val(),
                    ThemeColor: $('#ddThemeColor').val(),
                    IsFullDay: $('#chkIsFullDay').is(':checked')
                }
                SaveEvent(data);
                // call function for submit data to the server
            })

            function SaveEvent(data) {
                $.ajax({
                    type: "POST",
                    url: '/BulletinBoard/SaveEvent',
                    data: data,
                    success: function (data) {
                        if (data.status) {
                            //Refresh the calender
                            FetchEventAndRenderCalendar();
                            $('#myModalSave').modal('hide');
                        }
                    },
                    error: function () {
                        alert('Failed');
                    }
                })
            }
        })









        refresh();

        // 刷新
        var count = 1;
        var page_num = 1;
        var TotalEMP = "";
        var SliceTotal = "";
        var currentpage = page_num;

        function refresh() {
            $.ajax({
                url: "/BulletinBoard/BulletinBoardList", // 使用方法路徑
                method: "get",
                success: function (data) {
                    $(".THeadAdd").html(`
                                                                                            <tr>
                                                                                            <th>佈告欄編號</th>
                                                                                            <th>發佈人</th>
                                                                                            <th>標題</th>
                                                                                            <th>內容</th>
                                                                                            <th>發佈日期</th>
                                                                                            <th>詳細</th>
                                                                                            <th>編輯</th>
                                                                                            <th>刪除</th>
                                                                                            </tr>
                                                                                            `)
                    var a = "";  // 使用一個空字串
                    $(data).each(function (index, item) {
                        var datetime = parseInt(item.發布日期.replace(/\D/igm, ""));
                        var datetime1 = new Date(datetime);

                        if (datetime1.getHours() < 10) {
                            x = "0" + datetime1.getHours();
                        }
                        else {
                            x = datetime1.getHours();
                        }

                        if (datetime1.getMinutes() < 10) {
                            y = "0" + datetime1.getMinutes();
                        }
                        else {
                            y = datetime1.getMinutes();
                        }
                        a += ` <tr>
                                                                                <td>${item.佈告欄ID}</td>
                                                                                <td>${item.中文姓名}</td>
                                                                                <td>${item.佈告欄標題}</td>
                                                                                <td>${item.佈告欄內容}</td>
                                                                                <td>${datetime1.getFullYear() + "/" + (datetime1.getMonth() + 1) + "/" + datetime1.getDate() + " " + x + ":" + y}</td>
                                                                                <td><a class="btn btn-info empedit 詳細按鈕" data-id="${item.佈告欄ID}" data-toggle="modal" data-target="#ShowBulletinBoard" onclick="SearchThis()">詳細</a></td>
                                                                                <td><a class="btn btn-warning empedit 詳細按鈕" data-id="${item.佈告欄ID}" data-toggle="modal" data-target="#EditBulletinBoard" onclick="startedit()">編輯</a></td>
                                                                                <td><a class="btn btn-danger empedit 詳細按鈕" data-id="${item.佈告欄ID}" data-toggle="modal" onclick="DeleteBB()">刪除</a></td>
                                                                            </tr>`;
                    })
                    $(".TBodyAdd").html(a); // 取代原本內容

                    $(".currentpage").html(`當前頁面：${page_num}`);
                    TotalEMP = data[0].總比數;
                    SliceTotal = Math.ceil(TotalEMP / 10);
                    $(".arrowborn").empty();
                    $(".arrowborn").append(` <li class="page-item pointer prevbtn" value="${page_num}">
                                                                <a class="page-link ">Previous</a>
                                                            </li>`);
                    $(".arrowborn").append(
                        ` <li class="page-item pointer firstbtn" value="${page_num}"><a class="page-link showbtn1">${page_num}</a></li>`
                    );
                    $(".arrowborn").append(
                        ` <li class="page-item pointer sectbtn" value="${page_num + 1}"><a class="page-link showbtn2">${page_num + 1}</a></li>`
                    );
                    $(".arrowborn").append(
                        ` <li class="page-item pointer thirdtbtn" value="${page_num + 2}"><a class="page-link showbtn3">${page_num + 2}</a></li>`
                    );

                    $(".arrowborn").append(` <li class="page-item pointer nextbtn" value="${page_num + 1}">
                                                                <a class="page-link">Next</a>
                                                            </li>`);
                }
            })
        }


        //----------------------分頁跳轉起始----------------------
        //動態bind事件的話要用on事先綁定父層

        $(".arrowborn").on('click', '.firstbtn', function () {
            $(".currentpage").html(`當前頁面：${$(this).attr("value")}`);

            if (page_num == SliceTotal) {
                $(".firstbtn").attr('value', currentpage = page_num - 2);
            } else {

                $(".firstbtn").attr('value', currentpage = page_num + 0);

            }
            $(".firstbtn").off('click');
        })
        $(".arrowborn").on('click', '.sectbtn', function () {
            $(".currentpage").html(`當前頁面：${$(this).attr("value")}`);

            if (page_num == SliceTotal) {
                $(".sectbtn").attr('value', currentpage = page_num - 1);
            } else {

                $(".sectbtn").attr('value', currentpage = page_num + 1);
            }
            $(".sectbtn").off('click');

        })

        $(".arrowborn").on('click', '.thirdtbtn', function () {

            $(".currentpage").html(`當前頁面：${$(this).attr("value")}`);

            if (page_num == SliceTotal) {
                $(".thirdtbtn").attr('value', currentpage = page_num + 0);
            } else {

                $(".thirdtbtn").attr('value', currentpage = page_num + 2);

            }
            $(".thirdtbtn").off('click');
        });

        $(".arrowborn").on('click', '.nextbtn', function () {
            if (page_num < SliceTotal - 2) {
                $(".nextbtn").attr('value', page_num++)
            }
            $(".nextbtn").off('click');
        });

        $(".arrowborn").on('click', '.prevbtn', function () {
            if (page_num > 1) {
                $(".prevbtn").attr('value', page_num--);
            }
            $(".prevbtn").off('click');
        });

        $(".arrowborn").on('click', '.page-item', function () {

            if (page_num == SliceTotal) {
                $(".showbtn1").html(page_num - 2);
                $(".showbtn2").html(page_num - 1);
                $(".showbtn3").html(page_num);
            } else {
                $(".showbtn1").html(page_num);
                $(".showbtn2").html(page_num + 1);
                $(".showbtn3").html(page_num + 2);
            }

            $.ajax({
                url: "/BulletinBoard/BBPage",
                data: {
                    "arrow": currentpage
                },
                success: function (data) {
                    $(".THeadAdd").html(`
                                                                                            <tr>
                                                                                            <th>佈告欄編號</th>
                                                                                            <th>發佈人</th>
                                                                                            <th>標題</th>
                                                                                            <th>內容</th>
                                                                                            <th>發佈日期</th>
                                                                                            <th>詳細</th>
                                                                                            <th>編輯</th>
                                                                                            <th>刪除</th>
                                                                                            </tr>
                                                                                            `)
                    var a = "";  // 使用一個空字串
                    $(data).each(function (index, item) {
                        var datetime = parseInt(item.發布日期.replace(/\D/igm, ""));
                        var datetime1 = new Date(datetime);

                        if (datetime1.getHours() < 10) {
                            x = "0" + datetime1.getHours();
                        }
                        else {
                            x = datetime1.getHours();
                        }

                        if (datetime1.getMinutes() < 10) {
                            y = "0" + datetime1.getMinutes();
                        }
                        else {
                            y = datetime1.getMinutes();
                        }
                        a += ` <tr>
                                                                                <td>${item.佈告欄ID}</td>
                                                                                <td>${item.中文姓名}</td>
                                                                                <td>${item.佈告欄標題}</td>
                                                                                <td>${item.佈告欄內容}</td>
                                                                                <td>${datetime1.getFullYear() + "/" + (datetime1.getMonth() + 1) + "/" + datetime1.getDate() + " " + x + ":" + y}</td>
                                                                                <td><a class="btn btn-info empedit 詳細按鈕" data-id="${item.佈告欄ID}" data-toggle="modal" data-target="#ShowBulletinBoard" onclick="SearchThis()">詳細</a></td>
                                                                                <td><a class="btn btn-warning empedit 詳細按鈕" data-id="${item.佈告欄ID}" data-toggle="modal" data-target="#EditBulletinBoard" onclick="startedit()">編輯</a></td>
                                                                                <td><a class="btn btn-danger empedit 詳細按鈕" data-id="${item.佈告欄ID}" data-toggle="modal" onclick="DeleteBB()">刪除</a></td>
                                                                            </tr>`;
                    })
                    $(".TBodyAdd").html(a); // 取代原本內容

                    TotalEMP = data[0].總比數;
                    SliceTotal = Math.ceil(TotalEMP / 10);
                    $(".arrowborn").empty();
                    $(".arrowborn").append(` <li class="page-item pointer prevbtn" value="${page_num}">
                                                                <a class="page-link ">Previous</a>
                                                            </li>`);
                    $(".arrowborn").append(
                        ` <li class="page-item pointer firstbtn" value="${page_num}"><a class="page-link showbtn1">${page_num}</a></li>`
                    );
                    $(".arrowborn").append(
                        ` <li class="page-item pointer sectbtn" value="${page_num + 1}"><a class="page-link showbtn2">${page_num + 1}</a></li>`
                    );
                    $(".arrowborn").append(
                        ` <li class="page-item pointer thirdtbtn" value="${page_num + 2}"><a class="page-link showbtn3">${page_num + 2}</a></li>`
                    );

                    $(".arrowborn").append(` <li class="page-item pointer nextbtn" value="${page_num + 1}">
                                                                <a class="page-link">Next</a>
                                                            </li>`);
                }
            })
            $('.page-item').off('click');
        });


        //----------------------分頁跳轉結束----------------------

        // 新增方法
        function BulletinBoardAdd() {

            if ($(".addTitle").val() == '' || $(".addContent").val() == '' || $(".addDate").val() == '') {
                swal("佈告欄新增失敗", "欄位不可為空", "error");
            }
            else {
                $.ajax({
                    url: "/BulletinBoard/CreateBulletinBoard",
                    data: {
                        "佈告欄標題": $(".addTitle").val(),
                        "佈告欄內容": $(".addContent").val(),
                        "發布日期": $(".addDate").val()
                    },
                    method: "Get",
                    success: function (data) {
                        swal("新增成功!", "佈告欄已新增成功!", "success");
                        $(".addTitle").val('');
                        $(".addContent").val('');
                        $(".addDate").val('');
                        refresh();
                    }
                });
            }
        };

        // 新增按鈕彈出來的方法
        function startedit() {
            $.ajax({
                url: "/BulletinBoard/SearchOneBulletinBoard",
                method: "Get",
                data: { "id": $(event.currentTarget).data("id") },
                success: function (data) {
                    var datetime = parseInt(data.發布日期.replace(/\D/igm, ""));
                    var datetime1 = new Date(datetime);

                    // 月
                    if ((datetime1.getMonth() + 1) < 10) {
                        m = "0" + (datetime1.getMonth() + 1);
                    }
                    else {
                        m = datetime1.getDate();
                    }

                    // 日
                    if (datetime1.getDate() < 10) {
                        d = "0" + datetime1.getDate();
                    }
                    else {
                        d = datetime1.getDate();
                    }

                    // 時
                    if (datetime1.getHours() < 10) {
                        h = "0" + datetime1.getHours();
                    }
                    else {
                        h = datetime1.getHours();
                    }

                    // 分
                    if (datetime1.getMinutes() < 10) {
                        min = "0" + datetime1.getMinutes();
                    }
                    else {
                        min = datetime1.getMinutes();
                    }
                    $(".EditUserProfile").html(`
                                                                                            <div class="d-flex justify-content-center">
                                                                                                <div class="mr-1">
                                                                                                    <div class="文字2">佈告欄編號：</div>
                                                                                                    <input name="BulletinBoardID" type="text" class="updateBBID 不能修改 txt樣式" disabled value="${data.佈告欄ID}"/>
                                                                                                     <br>
                                                                                                     <br>
                                                                                                    <input name="EmployeeID" type="hidden" class="updateEPID txt樣式" value="${data.EmployeeID}"/>
                                                                                                    <div class="文字2">發佈人：</div>
                                                                                                    <input name="發佈人姓名" type="text" class="updateBBName txt樣式" value="${data.中文姓名}" disabled/>
                                                                                                    <br>
                                                                                                    <br>
                                                                                                    <div class="文字2">標題：</div>
                                                                                                    <input name="Title" type="text" class="updateTitle txt樣式" value="${data.佈告欄標題}"/>
                                                                                                    <br>
                                                                                                    <br>
                                                                                                    <div class="文字2">內容:   </div>
                                                                                                    <textarea name="Content" class="updateContent">${data.佈告欄內容}</textarea>
                                                                                                    <br>
                                                                                                    <br>
                                                                                                    <div class="文字2">發佈日期:  </div>
                                                                                                    <input name="Date" type="datetime-local" class="updateTime txt樣式" value="${datetime1.getFullYear() + "-" + m + "-" + d + "T" + h + ":" + min + ":00"}"/>
                                                                                                    <br>
                                                                                                    <br>
                                                                                                </div>
                                                                                            </div>`);
                }
            });
        };


        // 指定單筆資料(詳細)

        function SearchThis() {
            $.ajax({
                url: "/BulletinBoard/SearchOneBulletinBoard",
                method: "Get",
                data: { "id": $(event.currentTarget).data("id") },
                success: function (data) {
                    var datetime = parseInt(data.發布日期.replace(/\D/igm, ""));
                    var datetime1 = new Date(datetime);

                    // 月
                    if ((datetime1.getMonth() + 1) < 10) {
                        m = "0" + (datetime1.getMonth() + 1);
                    }
                    else {
                        m = datetime1.getDate();
                    }

                    // 日
                    if (datetime1.getDate() < 10) {
                        d = "0" + datetime1.getDate();
                    }
                    else {
                        d = datetime1.getDate();
                    }

                    // 時
                    if (datetime1.getHours() < 10) {
                        h = "0" + datetime1.getHours();
                    }
                    else {
                        h = datetime1.getHours();
                    }

                    // 分
                    if (datetime1.getMinutes() < 10) {
                        min = "0" + datetime1.getMinutes();
                    }
                    else {
                        min = datetime1.getMinutes();
                    }
                    $(".ShowUserProfile").html(`
                                                                                            <div class="d-flex justify-content-center">
                                                                                                <div class="mr-1">
                                                                                                    <div class="文字2">佈告欄編號：</div>
                                                                                                    <input name="BulletinBoardID" type="text" class="updateBBID 不能修改 txt樣式" disabled value="${data.佈告欄ID}"/>
                                                                                                     <br>
                                                                                                     <br>
                                                                                                    <input name="EmployeeID" type="hidden" class="updateEPID txt樣式" disabled value="${data.EmployeeID}"/>
                                                                                                    <div class="文字2">發佈人：</div>
                                                                                                    <input name="發佈人姓名" type="text" class="updateBBName txt樣式" disabled value="${data.中文姓名}" disabled/>
                                                                                                    <br>
                                                                                                    <br>
                                                                                                    <div class="文字2">標題：</div>
                                                                                                    <input name="Title" type="text" class="updateTitle txt樣式" disabled value="${data.佈告欄標題}"/>
                                                                                                    <br>
                                                                                                    <br>
                                                                                                    <div class="文字2">內容:   </div>
                                                                                                    <textarea name="Content" class="updateContent" disabled>${data.佈告欄內容}</textarea>
                                                                                                    <br>
                                                                                                    <br>
                                                                                                    <div class="文字2">發佈日期:  </div>
                                                                                                    <input name="Date" type="datetime-local" class="updateTime txt樣式" value="${datetime1.getFullYear() + "-" + m + "-" + d + "T" + h + ":" + min + ":00"}"/>
                                                                                                    <br>
                                                                                                    <br>
                                                                                                </div>
                                                                                            </div>`);
                }
            });
        };

        //-------------------------修改方法--------------------------------
        $(".editsave").click(function () {
            $.ajax({
                url: "/BulletinBoard/BulletinBoardEdit",
                method: "Post",
                data: {
                    "佈告欄ID": $(".updateBBID").val(),
                    "EmployeeID": $(".updateEPID").val(),
                    "中文姓名": $(".updateBBName").val(),
                    "佈告欄標題": $(".updateTitle").val(),
                    "佈告欄內容": $(".updateContent").val(),
                    "發布日期": $(".updateTime").val()
                },
                success: function (data) {
                    swal("修改成功!", "佈告欄已修改成功!", "success");
                    refresh();
                }
            });
        })

        // ----------------------------刪除方法-----------------------------
        function DeleteBB() {
            var id = $(event.currentTarget).data("id");
            swal({
                title: '刪除佈告欄？',
                text: '確定刪除該筆佈告欄嗎?',
                icon: 'warning',
                buttons: true,
                dangerMode: true,
            }).then((isConfirm) => {
                if (isConfirm) {
                    swal("刪除!", "佈告欄已刪除!...", 'success');
                    $.ajax({
                        url: "/BulletinBoard/BulletinBoardDelete",
                        method: "get",
                        data: {
                            "id": id
                        },
                        success: function () {
                            refresh();
                        }
                    })
                }
                else {
                    swal('取消!', "佈告欄已保留!...", 'info');
                }
                refresh();
            });
        }

        //----------------------佈告欄搜尋按鈕起始----------------------
        $(".searchbtn").click(function () {
            if ($(".searchbox").val() == "") {
                swal("查無此資料", "請重新輸入", "error");
            } else {
                $.ajax({
                    url: "/BulletinBoard/BulletinBoardSearch",
                    data: {
                        "name": $(".searchbox").val()
                    },
                    success: function (data) {
                        var a = ""
                        if (data <= 1) {
                            $(".SearchShowTable").html("");
                            swal("查無此資料", "請重新輸入", "error");
                        }
                        else {
                            $("#searchinfo").modal('show');
                            $(".SearchShowTable").html("");
                            $(data).each(function (index, item) {
                                var datetime = parseInt(item.發布日期.replace(/\D/igm, ""));
                                var datetime1 = new Date(datetime);

                                if (datetime1.getHours() < 10) {
                                    x = "0" + datetime1.getHours();
                                }
                                else {
                                    x = datetime1.getHours();
                                };

                                if (datetime1.getMinutes() < 10) {
                                    y = "0" + datetime1.getMinutes();
                                }
                                else {
                                    y = datetime1.getMinutes();
                                };
                                a += `<tr>
                                                                            <td>${item.佈告欄ID}</td>
                                                                            <td>${item.中文姓名}</td>
                                                                            <td>${item.佈告欄標題}</td>
                                                                            <td>${item.佈告欄內容}</td>
                                                                            <td>${datetime1.getFullYear() + "/" + (datetime1.getMonth() + 1) + "/" + datetime1.getDate() + " " + x + ":" + y}</td>
                                                                            <td><a class="btn btn-info empedit 詳細按鈕" data-id="${item.佈告欄ID}" data-toggle="modal" data-target="#ShowBulletinBoard" onclick="SearchThis()">詳細</a></td>
                                                                            <td><a class="btn btn-warning empedit 詳細按鈕" data-id="${item.佈告欄ID}" data-toggle="modal" data-target="#EditBulletinBoard" onclick="startedit()">編輯</a></td>
                                                                            <td><a class="btn btn-danger empedit 詳細按鈕" data-id="${item.佈告欄ID}" data-toggle="modal" onclick="DeleteBB()">刪除</a></td>
                                                                            </tr>`;
                                $(".SearchShowTable").html(a)
                            })
                        }
                    }
                })
            }

        });
        //----------------------佈告欄搜尋按鈕結束----------------------


        //------跳頁刷新起始----//
        $(".pagesearch").blur(function () {
            if ($(".pagesearch").val() > SliceTotal) {
                $(".pagesearch").val('');
                swal("頁面跳轉失敗", "輸入頁數大於最大頁數", "error")
            } else if ($(".pagesearch").val() == 0) {
                $(".pagesearch").val('');
                swal("頁面跳轉失敗", "輸入頁數不可為 '0' ", "error");
            }
            else {
                $.ajax({
                    url: "/BulletinBoard/BBPage",
                    data: {
                        "arrow": $(".pagesearch").val()
                    },
                    success: function (data) {
                        $(".currentpage").html(`當前頁面：${$(".pagesearch").val()}`);
                        $(".THeadAdd").html(`
                                                                                            <tr>
                                                                                            <th>佈告欄編號</th>
                                                                                            <th>發佈人</th>
                                                                                            <th>標題</th>
                                                                                            <th>內容</th>
                                                                                            <th>發佈日期</th>
                                                                                            <th>詳細</th>
                                                                                            <th>編輯</th>
                                                                                            <th>刪除</th>
                                                                                            </tr>
                                                                                            `)
                        var a = "";  // 使用一個空字串
                        $(data).each(function (index, item) {
                            var datetime = parseInt(item.發布日期.replace(/\D/igm, ""));
                            var datetime1 = new Date(datetime);

                            if (datetime1.getHours() < 10) {
                                x = "0" + datetime1.getHours();
                            }
                            else {
                                x = datetime1.getHours();
                            }

                            if (datetime1.getMinutes() < 10) {
                                y = "0" + datetime1.getMinutes();
                            }
                            else {
                                y = datetime1.getMinutes();
                            }
                            a += ` <tr>
                                                                                <td>${item.佈告欄ID}</td>
                                                                                <td>${item.中文姓名}</td>
                                                                                <td>${item.佈告欄標題}</td>
                                                                                <td>${item.佈告欄內容}</td>
                                                                                <td>${datetime1.getFullYear() + "/" + (datetime1.getMonth() + 1) + "/" + datetime1.getDate() + " " + x + ":" + y}</td>
                                                                                <td><a class="btn btn-info empedit 詳細按鈕" data-id="${item.佈告欄ID}" data-toggle="modal" data-target="#ShowBulletinBoard" onclick="SearchThis()">詳細</a></td>
                                                                                <td><a class="btn btn-warning empedit 詳細按鈕" data-id="${item.佈告欄ID}" data-toggle="modal" data-target="#EditBulletinBoard" onclick="startedit()">編輯</a></td>
                                                                                <td><a class="btn btn-danger empedit 詳細按鈕" data-id="${item.佈告欄ID}" data-toggle="modal" onclick="DeleteBB()">刪除</a></td>
                                                                            </tr>`;
                        })
                        $(".TBodyAdd").html(a); // 取代原本內容
                    }
                })
            }
        });
        //------跳頁刷新結束----//


        ///-------Fullcalender---------


    </script>
}
